{% load i18n %}
{% load eventurl %}
<div class="panel panel-default cart">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% trans "Roomsharing" %}
            <a href="{% eventurl event "plugins:pretix_roomsharing:event.order.room.modify" secret=order.secret order=order.code %}" aria-label="{% trans "Change room details" %}" class="h6">
                <span class="fa fa-edit"></span>{% trans "Change details" %}
            </a>
        </h3>
    </div>
    <div class="panel-body">
        {% if room %}
            <p>
                {% blocktrans trimmed with room=room.name %}
                    You are taking part in the roomshare as part of the room <strong>{{ room }}</strong>.
                {% endblocktrans %}

            </p>
            {% if is_admin %}
            <p>
                {% trans "You have created this room." %}
            </p>
                
            {% endif %}
            <p>
                {% trans "Your fellow room members are:" %}
            </p>
                <ul>
                    {% for f in fellows %}
                    <li>{{ f.order.code }}</li>
                    {% empty %}
                        <li><em>{% trans "Nobody has joined your room yet. Go tell your friends about it!" %}</em></li>
                    {% endfor %}
                </ul>
        {% else %}
            <p>
                {% trans "You will be randomly assigned a room or you have a ticket type without a room." %}
            </p>
        {% endif %}
    </div>
</div>
